.container
	position relative
	height 100vh
	overflow hidden
	lost-utility clearfix

.drawer
	background-color: grey
	lost-column 4/12 12 0
	height 100vh
	overflow auto

.main-content
	lost-column 8/12 12 0
	height 100vh
	overflow auto
	box-sizing border-box
	padding 10px 5%

.profile
	background-color white
	text-align center

	h1
		text-transform uppercase
		margin-bottom 0

	h2.role
		font-family 'Noto Sans', sans-serif
		margin-top .1rem

	.picture
		position relative

		img
			width 60%
			border-radius 50%
			margin 5rem 18% 2rem

		.flag
			position absolute
			bottom 0
			right 0
			width 14%
			border .3rem solid black

	.country
		position relative
		font-weight normal
		padding-left 2rem
		font-style italic
		display inline-block
		margin-top 1rem
		font-weight 100
