.container
	position relative
	height 100vh
	overflow hidden
	lost-utility clearfix

	+below(480px)
		padding-bottom 250px
		overflow scroll
		height auto
	&.hide-drawer
		.drawer
			lost-column 0/12 12 0
			overflow hidden
		.main-content
			lost-column 12/12 12 0

.drawer
	font-size font-size-normal
	transition 250ms
	lost-column 4/12 12 0
	height 100vh
	overflow auto

	+below(480px)
		lost-column 1/1 1 0
		overflow visible
		height auto
