.container
	position relative
	height 100vh
	overflow hidden
	lost-utility clearfix

	+below(480px)
		padding-bottom 250px
		overflow scroll
		height auto
	&.hide-drawer
		.drawer
			lost-column 0/12 12 0
			overflow hidden
		.main-content
			lost-column 12/12 12 0

.drawer
	font-size font-size-normal
	transition 250ms
	lost-column 4/12 12 0
	height 100vh
	overflow auto

	+below(480px)
		lost-column 1/1 1 0
		overflow visible
		height auto

	.profile
		background-color drawer-strong
		text-align center

		h1
			text-transform uppercase
			margin-bottom 0

		h2.role
			color color-primary
			margin-top .1rem

		.picture
			position relative

			img
				width 65%
				border-radius 50%
				margin 4.5rem 18% 2rem

			.countryflag
				position absolute
				bottom 0
				right 0
				width 14%
				border .5rem solid drawer-strong

		.country
			font-size font-size-normal
			position relative
			color color-primary
			font-weight normal
			padding-left 1.5rem
			font-style italic
			display inline-block
			margin-top 1rem
			font-weight 100

			&:before
				content ""
				position absolute
				left 0
				top -0.1rem
				width 1.5rem
				height 1.5rem
				background-image url('../images/country.png')
				background-repeat no-repeat

		.cells
			lost-utility clearfix
			height 80px

			.cell
				padding 20px 0
				height 100%
				lost-column 1/3 3 0
				box-sizing border-box
				border-right border-setup
				border-top border-setup
				border-bottom border-setup
				text-align center

				span
					vertical-align middle
					strong
						font-size font-size-big

				&:last-child
					border-right none

.main-content
	font-size font-size-big
	lost-column 8/12 12 0
	height 100vh
	overflow auto
	box-sizing border-box
	padding 10px 5%

	+below(480px)
		lost-column 1/1 1 0
		overflow visible
		height auto

	#menu
		img
			width 3rem
			height 3rem

	h2,h3
		color color-secondary

	h1
		margin 30px 0
		font-size font-size-huge

	.about-list
		li
			margin-bottom 1rem
		li:before
			content '\2666'
			margin-right 15px
	.languages
		margin 1.8rem 0
		lost-utility: clearfix;
		img
			lost-column 1/3 0
			max-width 140px
	.world-map
		margin 2rem 0
		lost-utility clearfix
		border border-setup
		box-shadow 7px 3px 20px 2px border-color;
		img
			lost-column 1/1
	.places
		span
			padding 1.5rem
			position relative
			&.living:before
				content ""
				position absolute
				left 0
				width 1.5rem
				top 1.39rem
				height 1.5rem
				background-image url('../images/red-marker.png')
				background-repeat no-repeat
			&.visited:before
				content ""
				position absolute
				left 0
				width 1.5rem
				height 1.5rem
				background-image url('../images/blue-marker.png')
				background-repeat no-repeat

	.skillset
		li
			text-align center
			display inline-block
			white-space nowrap
			margin 3%
			padding-left 2rem
			position relative
			&:before
				content ""
				position absolute
				left 0
				top -0.2rem
				width 1.5rem
				height 1.5rem
				background-image url('../images/check.png')
				background-size contain
				background-repeat no-repeat
