footer.footer
	box-sizing border-box
	padding 8%
	font-size font-size-big

	+below(992px)
		font-size font-size-small
	+below(600px)
		font-size font-size-tiny

	+below(480px)
		font-size font-size-normal
		position absolute
		bottom 0
		left 0
		padding 5%
		width 100%
		box-sizing border-box
		background-color drawer-strong

	ul
		list-style none
		padding 0

		li

			a
				position relative
				display inline-block
				box-sizing border-box
				width 100%
				color color-primary
				padding .3em 0 0 1.5rem

				text-decoration none

				&:before
					content ""
					position absolute
					left 0
					top .3rem
					width 1.2rem
					height 1.2rem
					background-repeat no-repeat
					background-size contain

					+below(768px)
						width 1rem
						height 1rem
						top 0.1rem

				&.mail:before
					background-image url('../images/mail.png')

				&.linkedin:before
					background-image url('../images/linkedin.png')

				&.github:before
					background-image url('../images/git.png')
