//Normalize
normalize-css()
//Imports
@import variables
@import common
@import nav
@import content
@import profile
@import footer

body
	font-family: 'Montserrat', sans-serif;

ul
	list-style none
	margin 0
	padding 0
