//Colors.
color-primary = #646261
color-secondary = #838383
drawer-light = #fafafa
drawer-strong = #f0f0f0
//Common spaces
drawer-space = 11%
//Borders
border-color = #dad9da
border-setup = 1px solid border-color
//Fonts
font-size-normal = .8rem
font-size-small = font-size-normal - .2rem
font-size-big = font-size-normal + .2rem
font-size-huge = font-size-normal + .6rem
