footer.footer
	strong Interested in working with me?
	p	Awesome! I'm available for full-time for remote opportunities
		br
		br
		|Get in touch:
	ul
		li
			a.mail(href='mailto:oconmarcos97@gmail.com')
				strong oconmarcos97@gmail.com
		li
			a.github(href='https://github.com/marcosocon', target='blank')
				strong github.com/marcosocon
		li
			a.linkedin(href='https://ar.linkedin.com/in/marcosgonzalezocon', target='blank')
				strong linkedin.com/marcosgonzalezocon
