.lower-section
	ul.links
		li #[a.aboutme(href='#aboutme') About Me]
		li #[a.education(href='#education') Education]
		li #[a.work(href='#work') Work Experience]
		li #[a.skills(href='#skills') Skills]
