.profile
	.picture
		img(src='images/profile.jpg')
		img.countryflag(src='images/argflag.png')
	h1 Marcos Ocón
	h2.role Frontend Developer
	h2.country Tucumán, Argentina
	.cells
		.cell 
			span 
				strong 20
				br
				|Y/O
		.cell
			span
				strong 3+ 
				br
				|Y/Experience
		.cell
			span
				strong 10+
				br
				|Projects Delivered
