h1#work Work Experience
ul
    li
        h3 ITX Corp
        p Frontend Developer
        span Working with cool frontend technologies such as AngularJS, Angular Material, MomentJS, Lo-dash, Karma, Jasmine, bringing more that 90% of code coverage in all the projects, implementing features, bugfixing and introducing reusable components to the application.
    li
        h3 SweatWorks
        p JavaScript Developer
        span Working with all the MEAN Stack AngularJS at the frontend, MongoDB, Node and ExpressJS at the server level, working with Redis as a caching database, implementing features, bugfixing in both server and client side of the projects.
    li
        h3 LabzX
        p Frontend Developer
        span In charge of the whole client side of Pik, a social network for events where the events can connect with the providers and the invites can make suggestions, working in the client side, implementing AngularJS, HTML and CSS, also Vanilla for some graphics and custom effects.
    li
        h3 Viveo Group
        p Frontend Developer
        span Working with HTML, CSS, vanilla JavaScript and JQuery, in charge of the development on various projects, implementing new features, animations and increasing UX.
    li
        h3 BlackSmith La Fragua
        p Frontend Developer
        span In charge of the development of an application for the generation in real time of doors and gates with really good UX, implemeting AngularJS, JQuery and Jasmine as testing Framework.
