doctype
html
	head
		title Some Cool Title
		link(rel='stylesheet', href='/styles/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css')
		script(type='text/javascript', src='/scripts/vendor.js')
		script(type='text/javascript', src='/scripts/scripts.js')
	body
		.container
			.drawer
				.profile
					.picture
						span images here
					h1 Marcos Ocón
					h2.role Frontend Developer
					h2.country Tucumán, Argentina
					.cells
						.cell 
							span 
								strong 20
								br
								|Y/O
						.cell
							span
								strong 3+ 
								br
								|Y/Experience
						.cell
							span
								strong 10+
								br
								|Projects Delivered
				.lower-section
					ul.links
						li #[a.aboutme(href='#aboutme') About Me]
						li #[a.education(href='#education') Education]
						li #[a.work(href='#work') Work Experience]
						li #[a.skills(href='#skills') Skills]
					footer.footer
						strong Interested in working with me?
						p	Awesome! I'm available for full-time or remote opportunities
							br
							|Get in touch:
						ul
							li
								a(href='mailto:oconmarcos97@gmail.com')
								strong oconmarcos97@gmail.com
							li
								a(href='https://github.com/marcosocon', target='blank')
								strong github.com/marcosocon
							li
								a(href='https://ar.linkedin.com/in/marcosgonzalezocon', target='blank')
								strong ar.linkedin.com/in/marcosgonzalezocon
			.main-content
				h1#aboutme About Me
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae itaque labore id qui. Omnis vel odio possimus, deleniti. Nisi aliquam amet impedit suscipit ducimus autem fuga libero non voluptatibus fugiat.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro rerum, accusantium reprehenderit iste reiciendis officiis tempore dignissimos quis fugit natus laborum sequi consequuntur autem, dolore quos perferendis quo sapiente dolorem!
					ul
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						li Molestiae itaque labore id quia.
						li Omnis vel odio possimus, deleniti.

				h1#education Education
					ul
						li
							p Universidad Tecnologica Nacional
							span Systems Engineering
						li
							p Aticana
							span English course
				h1#work Work Experience
					ul
						li
							p ITX Corp
							span Frontend Developer
							span Working with cool frontend technologies such as  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse error, earum vero. Et, sapiente suscipit, iusto voluptas ipsam repudiandae repellat minus optio esse eveniet, nisi explicabo soluta provident veniam voluptate!
						li
							p SweatWorks
							span JavaScript Developer
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, veritatis. Culpa maxime asperiores quae cumque, omnis est harum, deserunt, non voluptate voluptates quibusdam molestiae corporis. Quo, itaque quia nostrum ea!
						li
							p LabzX
							span Frontend Developer
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi dolorum a aperiam, sunt iste, vel nulla vitae nostrum doloribus repudiandae, illum! Dolores laborum nam ipsa ipsam non voluptatem laudantium?
						li
							p Viveo Group
							span Frontend Developer
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolores tempora aliquid ex numquam quas totam, molestias voluptatum quisquam dolorum. Beatae dolor officiis, commodi optio accusamus vero accusantium nobis, in?
						li
							p BlackSmith La Fragua
							span Frontend Developer
							span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, laudantium. Nobis molestiae, possimus at numquam perferendis culpa optio maxime rerum, exercitationem cumque odit totam placeat eius! Voluptatem, libero blanditiis natus.

				h1#skills Skills
					ul
						li HTML
						li CSS
						li JavaScript
						li AngularJS
						li Angular 2
						li MeteorJS
						li NodeJS
						li ExpressJS
						li Gulp
						li Grunt

