doctype
html
	head
		title Resume - Marcos Oc칩n
		link(rel='stylesheet', href='/styles/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css')
		script(type='text/javascript', src='/scripts/vendor.js')
		script(type='text/javascript', src='/scripts/scripts.js')
	body
		.container
			.drawer
				.profile
					.picture
						img(src='images/profile.jpg')
						img.countryflag(src='images/argflag.png')
					h1 Marcos Oc칩n
					h2.role Frontend Developer
					h2.country Tucum치n, Argentina
					.cells
						.cell 
							span 
								strong 20
								br
								|Y/O
						.cell
							span
								strong 3+ 
								br
								|Y/Experience
						.cell
							span
								strong 10+
								br
								|Projects Delivered
				.lower-section
					ul.links
						li #[a.aboutme(href='#aboutme') About Me]
						li #[a.education(href='#education') Education]
						li #[a.work(href='#work') Work Experience]
						li #[a.skills(href='#skills') Skills]
				footer.footer
					strong Interested in working with me?
					p	Awesome! I'm available for full-time for remote opportunities
						br
						br
						|Get in touch:
					ul
						li
							a.mail(href='mailto:oconmarcos97@gmail.com')
								strong oconmarcos97@gmail.com
						li
							a.github(href='https://github.com/marcosocon', target='blank')
								strong github.com/marcosocon
						li
							a.linkedin(href='https://ar.linkedin.com/in/marcosgonzalezocon', target='blank')
								strong linkedin.com/marcosgonzalezocon
			.main-content
				h1#aboutme About Me
				p Hey! I'm Marcos, a JavaScript Developer from Tucum치n, Argentina, i love to code and learn new technologies, i spend most of my free time doing new courses and creating some repositories in github to practice them, i live with my brother in the middle of the city, he's also a developer so i live in a environment that has a lot of contact with the development industry.
				p I like to practice Judo and Basketball and i enjoy hanging around with my friends, in the past few years i've been 100% involved in the frontend side of the development bringing clean and innovative solutions to common problems, i've worked with several clients located in the US and Europe.
				ul.about-list
					li I consider myself as a very proactive and curious person.
					li I'm constantly looking for new technologies and languages to learn.
					li I really believe that if you want something, you can have it!

				h1 Languages I speak
				.languages
					img(src='/images/spanish.png')
					img(src='/images/english.png')
					img(src='/images/french.png')

				h1 Places I've been
				.world-map
					img(src='/images/world.png')
				.places
					span.living Living and Working
					span.visited Cultural Experience
				h1#education Education
				ul
					li
						p Universidad Tecnologica Nacional
						span Systems Engineering
					li
						p Aticana
						span English course
				h1#work Work Experience
				ul
					li
						p ITX Corp
						span Frontend Developer
						span Working with cool frontend technologies such as  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse error, earum vero. Et, sapiente suscipit, iusto voluptas ipsam repudiandae repellat minus optio esse eveniet, nisi explicabo soluta provident veniam voluptate!
					li
						p SweatWorks
						span JavaScript Developer
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, veritatis. Culpa maxime asperiores quae cumque, omnis est harum, deserunt, non voluptate voluptates quibusdam molestiae corporis. Quo, itaque quia nostrum ea!
					li
						p LabzX
						span Frontend Developer
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias nisi dolorum a aperiam, sunt iste, vel nulla vitae nostrum doloribus repudiandae, illum! Dolores laborum nam ipsa ipsam non voluptatem laudantium?
					li
						p Viveo Group
						span Frontend Developer
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio dolores tempora aliquid ex numquam quas totam, molestias voluptatum quisquam dolorum. Beatae dolor officiis, commodi optio accusamus vero accusantium nobis, in?
					li
						p BlackSmith La Fragua
						span Frontend Developer
						span Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, laudantium. Nobis molestiae, possimus at numquam perferendis culpa optio maxime rerum, exercitationem cumque odit totam placeat eius! Voluptatem, libero blanditiis natus.

				h1#skills Skills
				ul
					li HTML
					li CSS
					li JavaScript
					li AngularJS
					li Angular 2
					li MeteorJS
					li NodeJS
					li ExpressJS
					li Gulp
					li Grunt

