doctype
html
	head
		title Resume - Marcos Ocón
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel='stylesheet', href='styles/main.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700', type='text/css')
		script(type='text/javascript', src='scripts/vendor.js')
		script(type='text/javascript', src='scripts/scripts.js')
	body
		.container
			.drawer
				include ./views/profile.jade
				include ./views/nav.jade
				include ./views/footer.jade
			.main-content
				include ./views/about.jade
				include ./views/languages.jade
				include ./views/map.jade
				include ./views/education.jade
				include ./views/work.jade
				include ./views/skills.jade
